html,body{margin: 0; padding: 0; position: relative; height: 100%; user-select:none;}
$screenSize: 97.78vw;
$gridSize: 8.89vw;
p{margin: 0;}
@mixin center() {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
@keyframes toggle {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#size{
    position: absolute;
    left: 0;
    top: 0;
    width: $gridSize;
    height: $gridSize;
}
#screen{
    position: relative;
    width: 100vw;
    height: 100vw;
    background: url("../images/wall.png");
    z-index: 9;
}
#game{
    @include center;
    background: url("../images/bg.png");
    box-shadow: 0px 0px 10px 1px #000;
}
#hurt{
    width: 100%;
    height: 100%;
    #hurt-inner{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 0, 0, .8);
        animation: toggle .3s ease-in-out forwards;
    }
}
#message{
    @include center;
    width: $screenSize;
    height: $gridSize*3;
    line-height: $gridSize*3;
    color: #009f95;
    #message-inner{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: $gridSize/1.5;
        animation: toggle 2s ease-in-out forwards;
        background: rgba(0, 0, 0, .8);
    }
}
#dialog{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: $gridSize/2.5;
    #dialog-inner{
        letter-spacing: 1px;
        padding: 16px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.7);
        line-height: 2em;
        width: 100%;
        height: 100%;
        animation: fadeIn 1s;
        overflow-y: scroll;
        .green{ color: greenyellow; }
        .orange{ color: orange; }
        .yellow{ color: yellow; }
        .margin-lr{
            margin-right: 10px;
        }
        p{
            text-indent: .7rem;
        }
    }
}
.confirm-btn-row{
    text-align: right;
    margin-top: .5rem;
    button{
        margin-right: .5rem;
    }
}
#fight{
    display: none;
    @include center;
    width: $screenSize;
    height: $gridSize*6;
    background: rgba(0, 0, 0, .8);
    #monster,#animation,#hero{
        float: left;
        height: 100%;
    }
    #monster{
        width: $gridSize*3.4;
    }
    #animation{
        width: $gridSize*4.19;
        background: url("../images/fight.gif") no-repeat center;
        background-size: cover;
    }
    #hero{
        width: $gridSize*3.4;
    }
    #monster-icon{
        height: $gridSize;
        background: url("../images/monsters/monster10.png") no-repeat center;
        background-size: $gridSize;
        padding: $gridSize/2 0;
    }
    #hero-icon{
        height: $gridSize;
        background: url("../images/herodir/heroDown.png") no-repeat center;
        background-size: $gridSize;
        padding: $gridSize/2 0;
    }
    .row{
        height: $gridSize;
        line-height: $gridSize;
        padding-left: $gridSize*1.4;
        color: #fff;
        font-size: $gridSize/2.2;
        &.hp{
            background: url("../images/hpIcon.png") no-repeat $gridSize/3.2 center;
            background-size: $gridSize;
        }
        &.attack{
            background: url("../images/attackIcon.png") no-repeat $gridSize/2.3 center;
            background-size: $gridSize*0.75;
        }
        &.defense{
            background: url("../images/defenseIcon.png") no-repeat $gridSize/3.5 center;
            background-size: $gridSize;
        }
    }
}
.status{
    margin-top: 2px;
    height: .7rem;
    line-height: .7rem;
    p{
        float: left;
        width: 25%;
        font-size: .3rem;
        text-align: center;
        span{
            color: cornflowerblue;
        }
    }
}
.keys{
    padding-top: 10px;
    height: .6rem;
    p{
        float: left;
        width: 23%;
        font-size: .3rem;
        text-align: center;
        &#items, &#chuansong, &#menu{
            width: 10%;
            height: .6rem;
        }
        &#chuansong{
            background: url("../images/items/item08.png") no-repeat center;
            background-size: .6rem .6rem;
        }
        &#items{
            background: url("../images/items.png") no-repeat center;
            background-size: .6rem .6rem;
        }
        &#menu{
            background: url("../images/menu.png") no-repeat center;
            background-size: .6rem .6rem;
        }
    }
    span{
        display: inline-block;
        color: cornflowerblue;
        vertical-align: middle;
    }
    .icon{
        width: .6rem;
        height: .6rem;
        line-height: .6rem;
    }
    .icon.yellow{
        background: url("../images/items/item01.png") no-repeat;
        background-size: cover;
    }
    .icon.blue{
        background: url("../images/items/item02.png") no-repeat;
        background-size: cover;
    }
    .icon.red{
        background: url("../images/items/item03.png") no-repeat;
        background-size: cover;
    }
}
#operation{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100vw;
    box-sizing: border-box;
    .inner{
        background-color: rgb(54, 66, 74);
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #EECF7C;
    }
}
//  控制器样式
#controller{
    position: absolute;
    width: 60vw;
    height: 60vw;
    left: 0;
    right: 0;
    top: 1.5rem;
    margin: 0 auto;
    background: url("../images/direction_normal.png") no-repeat center;
    background-size: 100% 100%;
    &.left{
        background: url("../images/direction_left.png") no-repeat center;
        background-size: 100% 100%;
    }
    &.right{
        background: url("../images/direction_right.png") no-repeat center;
        background-size: 100% 100%;
    }
    &.up{
        background: url("../images/direction_up.png") no-repeat center;
        background-size: 100% 100%;
    }
    &.down{
        background: url("../images/direction_down.png") no-repeat center;
        background-size: 100% 100%;
    }

    #left,#right,#up,#down{
        position: absolute;
    }
    #up,#down{
        width: $gridSize*1.5;
        height: $gridSize*2.2;
        left: 0;
        right: 0;
        margin: .3rem auto;
    }
    #down{
        bottom: 0;
    }
    #left,#right{
        width: $gridSize*2.2;
        height: $gridSize*1.5;
        top: 0;
        bottom: 0;
        margin: auto .3rem;
    }
    #left{
        left: 0;
    }
    #right{
        right: 0;
    }
}
.red{
    color: red;
}